@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@500&family=Open+Sans:wght@300&family=Raleway:wght@100;400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Martian Mono', monospace;
}

html{
    font-size: 62.5%;

}
.inner-div-quesstion li{
    list-style: none;
  
}
.main-div{
    width: 100vw;
    height: 100vh;
 
    background-color: rgb(241 241 241);
    /* margin: -20 0rem; */
    display: flex;
flex-direction: column;  
justify-content: center;
align-items: center;
 
}



.inner-div-quesstion{
    background-color: #FFFACD;
width: 54vw;
border-radius: 1rem;
box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px; 
padding: 2rem 2rem;


}
.inner-div-quesstion h2{
    font-weight: 600;
    line-height: 2.9rem;
    font-size: 2rem;
 text-transform: capitalize;
 margin-bottom: 1.5rem;
}
.inner-div-quesstion li{
line-height: 4rem;
 font-weight: 100;
    text-transform: capitalize;
    font-size: 1.3rem;
    font-weight: 100;
    margin: auto;

}

.submitButton{
 margin: 1.3rem 18rem;
color: rgb(0, 0, 0);
background-color: #00FF7F;
display: block;
margin: auto;
padding: .7rem 1.2rem;
 outline: none;
 border-radius: 1rem;
 border: none;
 text-transform: capitalize;
 box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
transition: .5s;
}
.submitButton:hover{
    cursor: pointer;

    background-color: #06a154;
    color: white;
    
}
.main-div-h2{
    font-size: 5rem;
 /* line-height: 9rem; */
 /* padding-bottom: 9rem;
  */
   margin-bottom: 9rem;
   
   
   /* bottom: 34rem; */

   /* top: 23rem; */
   

text-transform: uppercase;
color: cyan;
animation-name: colors;
animation-duration: 5s;
transition: 1s;
animation-iteration-count: infinite;
}
@keyframes colors{
    25%{
        color: whitesmoke;
    }
    50%{
        color:  #FF7F50;
    }
    75%{
        color: #DA70D6;
    }
    100%{
        color:  #FFFF00;
    }
    
}
#score-div{

margin-top: 2rem;
padding: 2rem 4rem;
background-color: antiquewhite;
}
.scoreArea{
    display: none;
}
#need-select{
   
    padding-top: .8rem;
    color: red;
    font-size: .7rem;
    text-align: center;
    display: block;
    margin: auto;
}
.color-changer{
    margin: 1.9rem 0rem;    
background-color: #00FF7F;
width: 4rem;
height: 4rem;
border-radius: 4rem;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
cursor: pointer;
}
.color-changer-div{

  position: absolute;
  left: 0.5rem;
}
.inner-main-div{
    display: flex;

}
.one{
    background-color: #FF7F50;
}
.two{
    background-color:#DA70D6;
}
.third{
    background-color: #FFFF00;
}



/* responsive css here ---------------------------------------------------------------->
 */




 @media only screen and (max-width: 768px){
    html{
        font-size: 46%;
    
    }
   
    .main-div-h2 {
        font-size: 4rem;}
        .inner-div-quesstion li {
            font-size: 2.2rem;
            line-height: 5rem;
        }
        .inner-div-quesstion {
            background-color: #FFFACD;
            width: 70vw;
            border-radius: 1rem;
            box-shadow: rgb(17 17 26 / 10%) 0px 4px 16px, rgb(17 17 26 / 5%) 0px 8px 32px;
            padding: 2rem 2rem}
 }

 @media only screen and (max-width: 480px){
    html{
        font-size: 42%;
    
    }
 
    .inner-div-quesstion li {
        font-size: 2rem;
        line-height: 4rem;
        padding: 1rem 0rem;
      

    }
    .main-div .main-div-h2{
        font-size: 4.5rem;
 
    }
       .inner-div-quesstion {

        background-color: #FFFACD;
        width: 72vw;
        border-radius: 1rem;
        box-shadow: rgb(17 17 26 / 10%) 0px 4px 16px, rgb(17 17 26 / 5%) 0px 8px 32px;

       }
        .main-div-h2{
            line-height: 3.9rem;
            font-size: 2.1rem;}
 }